.topbar
  .topbar-inner
    .container-fluid
      a.brand(href="#") Toronto Tweet Stream
      ul.nav
        li
         a(href="#") one
      p.pull-right 
        a(href="#") test

.container-fluid
  .sidebar
    .well
      h5 Sidebar

  .content
    .hero-unit
      p Here is what's going on in Toronto, Ontario, Canada.

    .row
      .span6
        #boxes
      .span5
        | column 2
      .span5
        | column 3

    footer
      | &copy; 2012 Derrick Weis

script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
script(src='http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js')
script(src='http://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js')
script(src='/socket.io/socket.io.js')

script
  (function($){
    var Tweet = Backbone.Model.extend({
      id: null,
      username: null,
      photo: null,
      text: null
    });

    var Tweets = Backbone.Collection.extend({
      initialize: function(models, options) {
        this.bind('add', options.view.addTweetDiv);
        this.bind('remove', options.view.removeTweetDiv);

        this.bind('add', function(model) {
          if (this.length > 6) {
            this.remove(this.at(0));
          }
        });
      }
    });

    var AppView = Backbone.View.extend({
      el: $('body'),
      initialize: function() {
        this.tweets = new Tweets(null, { view: this });
      },
      events: {
      },
      addTweetDiv: function(model) {
        var $div = $('<div>', { id: 'tweet_' + model.get('id') });

        $div.append('<img src="' + model.get('photo') + '"/>');
        $div.append('<b>' + model.get('username') + ':</b>');
        $div.append(model.get('text'));

        $('#boxes').prepend($div);
      },
      removeTweetDiv: function(model) {
        $('#boxes').find('#tweet_' + model.get('id')).remove();
      }
    });

    var appView = new AppView;

    var socket = io.connect('http://localhost');

    socket.on('tweet', function (tweet) {
      var tweetModel = new Tweet({ id: tweet.id, username: tweet.user.screen_name, photo: tweet.user.profile_image_url, text: tweet.text });

      appView.tweets.add(tweetModel);
    });

  })(jQuery);
