h1 Toronto Tweet Stream
ul#boxes

script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
script(src='http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js')
script(src='http://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js')
script(src='/socket.io/socket.io.js')
script
  (function($){
    var Tweet = Backbone.Model.extend({
      username: null,
      photo: null,
      text: null
    });

    var Tweets = Backbone.Collection.extend({
      initialize: function(models, options) {
        this.bind('add', options.view.addTweetDiv);
      },
      events: {
        'add': function(model) {
              console.log(model);
          }
      }
    });

    var AppView = Backbone.View.extend({
      el: $('body'),
      initialize: function() {
        this.tweets = new Tweets(null, { view: this });
      },
      events: {
      },
      addTweetDiv: function(model) {
        var $div = $('<div>');

        $div.append('<img src="' + model.get('photo') + '"/>');
        $div.append('<b>' + model.get('username') + ':</b>');
        $div.append(model.get('text'));

        $('#boxes').prepend($div);
      }
    });

    var appView = new AppView;

    var socket = io.connect('http://localhost');

    socket.on('tweet', function (tweet) {
      var tweetModel = new Tweet({ username: tweet.user.screen_name, photo: tweet.user.profile_image_url, text: tweet.text });

      appView.tweets.add(tweetModel);
    });

  })(jQuery);
